# Default Atom output path
output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# egg
*.egg-info

# Scrapy stuff
.scrapy

# virtualenv
venv/

# custom config
feeds.cfg

# pyenv
.python-version

# vim tags
tags
