# Feeds configuration.

[feeds]
# Useragent to use for crawling.
useragent = feeds (+https://github.com/nblock/feeds)

## List of spiders to run by default, one per line.
# spiders =
#     tvthek.orf.at
#     oe1.orf.at

## Target directory where the feeds will be saved.
# output_path = output

## URL of target directory from which the feeds can be accessed.
## Optional; used to generate atom:link element with rel="self" attribute.
## See also: https://validator.w3.org/feed/docs/warning/MissingSelf.html
# output_url = https://example.com/feeds

## Path to the cache.
## Note that old cache entries are currently not deleted from the cache,
## i.e. the cache directory has to be manually removed from time to time.
# cache_enabled = 0
# cache_dir = .cache

#[nzz.at]
## NZZ.at is a paywalled site.
## If you want to crawl it, please provide username and password.
# username =
# password =

#[falter.at]
## falter.at has a paywall for certain articles.
## If you want to crawl paid articles, please provide abonr (subscription
## number) and password.
# abonr =
# password =

#[konsument.at]
## KONSUMENT.AT has a paywall for certain articles.
## If you want to crawl paid articles, please provide username and password.
# username =
# password =

#[biblioweb.at]
## Location of your library that uses biblioweb.at.
# location =

#[uebermedien.de]
## uebermedien.de has a paywall for certain articles.
## If you want to crawl paid articles, please provide your Blendle username
## and password.
# username =
# password =

#[facebook.com]
## App id and app secret for your app.
## Can be gathered by creating your own app at https://developers.facebook.com/.
# app_id =
# app_secret =
## List of pages to crawl (one per line, app_id/app_secret needed).
## WARNING: Only pages can be crawled, NOT user profiles!
# pages =
#     one_page_id
#     per_line

#[lwn.net]
## LWN.net has paywalled articles.
## If you want to crawl them, please provide username and password.
# username =
# password =

#[vice.com]
#locales =
#    alps
#    de
