# Feeds configuration.

[feeds]
## Useragent to use for crawling.
useragent = feeds (+https://github.com/nblock/feeds)

## List of spiders to run by default, one per line.
# spiders =
#     tvthek.orf.at
#     oe1.orf.at

## Target directory where the feeds will be saved.
# output_path = output

#[nzz.at]
## NZZ.at is a paywalled site.
## If you want to crawl it, please provide username and password.
# username =
# password =

#[falter.at]
## falter.at has a paywall for certain articles.
## If you want to crawl paid articles, please provide abonr (subscription
## number) and password.
# abonr =
# password =

#[konsument.at]
## KONSUMENT.AT has a paywall for certain articles.
## If you want to crawl paid articles, please provide username and password.
# username =
# password =
